@model WebApp.Controllers.TokenController.ModelData

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>
    Username: &nbsp;  @Model.Username
</div>
    
<hr/><br/><br/><br/>
Plain Token: @Model.PlainToken
</body>
</html>
