
@Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New Page</title>
</head>
<body>
<div>
    <h1>ProblemAuth / NewPage.cshtml?id=@Model</h1>
</div>
</body>
</html>
